$primary-font-color: #565D64;
$primary-background-color: #E7E6E7;
$box-shadow-color: #A3A3A3;

html {
  font-size: 62.5%;
}

body {
  height: auto;
  width: 100%;
  background-color: $primary-background-color;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  color: $primary-font-color;
}

h2 {
  margin: 0;
  padding: 6rem 0 3rem 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
}

button {
  font-size: 1.4rem;
}

.full-list {
  position: relative;
  width: 60%;
  margin: auto;
  background-color: white;
  -moz-box-shadow:    0 .2rem .4em .2rem $box-shadow-color;
  -webkit-box-shadow: 0 .2rem .4rem .2rem $box-shadow-color;
  box-shadow:         0 .2rem .4rem .2rem $box-shadow-color;

  .entry-field {
    height: 3rem;
    width: 100%;
    border-bottom: .1rem solid #A9A9A9;

    .enter-todo {
      height: 100%;
      width: 85%;
      padding: 0 0 0 .5rem;
      border: none;
      font-weight: 200;
      color: $primary-font-color;
    }

    .add-it-yo {
      height: 100%;
      width: 15%;
      padding: 0;
      border: none;
      background-color: #3659FF;
      font-weight: 200;
      color: white;
    }
    .add-it-yo:hover {
      background-color: #0B3994;
    }
  }
  .individual-items {
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      width: 100%;
      border-bottom: .1rem solid #E8E8E8;

      .cross-off {
        margin: 0 0 0 .5rem;
        font-size: 2rem;
        vertical-align: middle;
      }
      .item {
        margin: 0;
        padding: .5rem 0 .5rem .5rem;
        font-size: 1.2rem;
        font-weight: 200;
      }
      .delete-item {
        display: none;
        position: absolute;
        top: .1rem;
        right: .5rem;
        border: none;
        background: none;
      }
      .delete-item::after {
        content: '\24cd';
        font-size: 1.75rem;
      }
    }
    li:hover {

      .delete-item {
        display: block;
      }
      .delete-item:hover {
        color: black;
      }
    }
  }
}

.modal {
  .modal-dialog {
    margin-top: 3.5rem;
  }
  .modal-content {
    height: 7.5rem;
    line-height: 7.5rem;
    background-color: #0B3994;
    filter:alpha(opacity=75); /* IE */
    -moz-opacity:0.75; /* Mozilla */
    opacity: 0.75;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    border-radius: .2rem;
  }
}

footer {
  padding-top: 1.2rem;
  font-size: 1rem;

  p {
    text-align: center;
  }
}
